<!DOCTYPE html>
<html><head>
    <title>Byteforza</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/byteforza.jpeg">
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="GLm2Ne4K7ulpLN2Axa/kETC5gz8kqAX/HcvD+z2bjuffkaSXFfSUgtK2/wUXZXEVG6Wuz7LRLCFbgE96w1+IZQ==">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

    <link rel="stylesheet" media="all" href="/assets/application-fded02fb05487549cab7d2a9d00cdb5a15806c2b8afcb5810276919663047f87.css" data-turbolinks-track="reload">
    <script src="/packs/js/application-d0506915869139324ebc.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    

<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
.w3-bar .w3-button {
  padding: 16px;
}


</style>


<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#" class="w3-bar-item w3-button w3-wide"><img class="img-responsive" alt="LOGO" src="/assets/byteforza.jpeg" width="40" height="40"> BYTEFORZA</a>
    <div class="w3-right w3-hide-small">
    	<p class="w3-bar-item text-uppercase" style="margin-top: 8px; color: #007bff;"><b><%= current_user.first_name%></b></p>
      <a href="/logout" class="w3-bar-item w3-button" data-confirm="Are you sure want to logout?"><i class="fa fa-sign-out"></i> LOGOUT</a>
    </div>

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

	<div class="container" style="padding-top: 250px;">
	    <div class="row">
	    	<div class="col-md-3"><img class="img-responsive" alt="LOGO" src="/assets/byteforza.jpeg" width="200" height="200"></div>
	    	<div class="col-md-9"><h1 style="font-size: 45px;"><b>Welcome to Byteforza ROR Application</b></h1></div>
		</div>
	</div>

</body></html>