/*
body {
  padding-top: 3.5rem;
}



h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}



.sidebar {
  position: fixed;
  top: 51px;
  bottom: 37px;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; 
  border-right: 1px solid #eee;
  color: white;
}
.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  color: white;
  border-bottom: 0.5px solid #505050;
}


.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
footer {
  position: fixed;
bottom: 0;
width: 100%;
padding: 0.5%;
}
.collapse_sidebar {
  width: 200px !important;
display: block !important;
}
@media (max-width: 768px){
   .center_brand {
       margin-right: auto !important;
       margin-left: auto !important;
   }
}*/

body{
  font-family: 'MontserratLight', sans-serif !important;
  color: rgba(58,65,114,.76);
  font-size: 13px;
}


p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 22px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    z-index: 1;
    height: 100%;
    position: fixed;
  background: #eeeeef;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 85px;
    max-width: 85px;
    text-align: center;
    transition: all 0.2s;    
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
  
    background: #eeeeef;
    height: 50px;
    text-align: center;
     color: #007bff;
    font-weight: 400;
    font-size: 26px;
    margin: 10px;

}   
#sidebar .sidebar-header img{
    height: 100%;
    margin-top: 5px;
}
#sidebar.active .sidebar-header {
    padding: 10px 5px;
    background: #eeeeef;
    height: 70px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}


#sidebar .list-group.panel a[aria-expanded="true"], #sidebar .list-group.panel a:hover, #sidebar .list-group.panel a:focus {
    color: #fff;
    background: #00aeef;
    border-left: 4px solid #fdc006; 
}

#sidebar ul li.active > a{
    color: #1c2431;
    background: #edf5f8;
    border-left: 4px solid #fdc006;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .list-group.panel a i.fa-angle-right{
    float: right;
}

#sidebar.active .list-group.panel a i.fa-angle-right{
    float: none;
}

#sidebar .list-group.panel a[aria-expanded="false"] i.fa-angle-right::before,#sidebar .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f105";
    font-size: 1em;
}
#sidebar .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f106";
}


#sidebar.active .list-group.panel a[aria-expanded="false"] i.fa-angle-right::before,#sidebar.active .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f107";
    font-size: 1em;
}
#sidebar.active .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f106";    
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


#sidebar .list-group a{
    color: rgba(58, 65, 114, 0.76);
    background-color: #eeeeef;    
    font-size: 15px;
    border-radius: 0px;
    padding: .75rem 0.9rem;
    border-left: 4px solid transparent;
}

#sidebar .list-group a i{
    margin-right: 5px;
}

#sidebar.active .list-group a i{
    margin-right: 0px;
}

#sidebar .list-group a i.fa-angle-right{
    margin-right: 0px;
}

#sidebar .list-group.panel{
    background-color: #eeeeef;
/*    box-shadow: 0px 0px 4px #888888;*/
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 15px 0px;
}

#sidebar.active .list-group.panel{
    height: calc(100vh - 70px);
    overflow: auto;   
}

#sidebar.active .list-group.panel a span{
    font-size: 0.8rem;
    overflow-wrap: break-word;
    width: 55px;  
}

#sidebar.active .list-group.panel a i{
    font-size: 1.5rem;   
}

#sidebar.active .list-group.panel .collapse a{
    font-size: 12px;
/*    overflow-wrap: break-word;
    width: 80px;*/
}

#sidebar.active .list-group-item{
    border: none;
    text-overflow: ellipsis;
    padding: 10px 4px;
    border-left: 4px solid transparent;
}

#sidebar .list-group-item{
    border: none;
}

#sidebar .collapse a.list-group-item{
    font-size: 15px;
    background-color:  #eeeeef;
    border-radius: 0;
    border-left: 4px solid #fdc006;   
}

#sidebar .collapse{
    background-color: #2e5aa0;
    margin-right:0px;

}

#sidebar .sidebar-header h3{
    font-size: 21px;
    margin-bottom: 0px;
    display: inline-flex;
    align-content: center;
}

#sidebar .list-group.panel .collapse a[aria-expanded="true"], #sidebar .list-group.panel .collapse a:hover, #sidebar .list-group.panel .collapse a:focus {
    color: #fff;
    background: #2e60ad;
    border-left: none;
    border-radius: 0;
}

#sidebar .list-group.panel .collapse a:hover, #sidebar .list-group.panel .collapse a:focus{
    border-left: 4px solid #fdc006;
    background-color: #00aeef;  
}


.page{
  position: absolute;
    top: 0;
    right: 0;
    transition: width 0.3s linear;
    width: calc(100% - 200px);
    background-color: #ffffff;
    min-height: 100vh;
    padding-bottom: 35px; 
}

.page.active {
    width: calc(100% - 86px);
    transition: width 0.1s linear;
}

nav.navbar .badge {
    position: absolute;
    top: 0;
    right: 0;
}

.badge {
    font-weight: 400;
    border-radius: 0;
}

nav.navbar .navbar-header{
  width: 50px;
}
nav.navbar button.menu-btn{
  line-height: 19px;
    font-size: 25px;
    color:#646873;
    text-align: center;
    padding: 0px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 2px solid #1f4a8e;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
}

nav.navbar button.menu-btn i[class*='icon-'] {
  transform: translateY(4px);
}

nav.navbar button.menu-btn:hover {
  color: #00aeef;
  /* border: 2px solid #fdc006; */
}

footer.main-footer {
  position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #808a9a;
    padding: 8px 0;
}

footer.main-footer p {
    font-size: 11px;
    color:#fff;
    margin-bottom: 0px;
}

a.nav-link.logout {
    color: #6b6b6b;
    font-size: 0.9rem;
    padding: .6rem 0rem;
}

a.nav-link.logout:hover {
    color: #1f4a8e;
    font-size: 0.9rem;
}

/*mobile view*/

@media (max-width: 768px){
    .page {
    width: 100%;
    }

    #sidebar .sidebar-header h3 {
        display: none;
    }  
    .page.active {
        width: calc(100% - 160px)!important;
    }
    #sidebar.active {
        min-width: 160px;
        max-width: 160px;
    }
    #sidebar.active .list-group.panel a span{
        width:unset;  
    }
    #sidebar.active .list-group.panel a i {
        font-size: inherit;
    }
    #sidebar.active{
        text-align: inherit !important;
    }
    #sidebar .list-group a {
        padding: .75rem 0.9rem !important;
    }
    #sidebar.active .list-group a i {
        margin-right: 5px!important;
    }
    #sidebar.active .list-group.panel a i.fa-angle-right {
        float:right !important;
    }

}

/*mobile view ends*/

.header_nav {
    width: 100%;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    margin-left: -5px;
}
.li_width {
    width: 100%;
}
.header_nav li ul {
    float: right;
    display: flex;
    align-items: center;
}


/*index data table*/

.dataTables_wrapper .dataTables_length{
    float: left;
}
.dataTables_wrapper .dataTables_filter{
    float: right;
}
 .dataTables_wrapper .row {
    width: 100%;
  }


  .body-header span{
    float: right;
    padding-right: 10px;
    margin-right: -12px;
  }
  
 table thead tr{
    background-color: #646873;
  }
  table thead tr th{
    color: #ffffff;
  }
  div.dataTables_wrapper div.dataTables_paginate{
    margin: 0 !important;
    padding-top: 0.85em;
  }
  .dataTables_wrapper .row{
    margin-top: 10px;
  }
  .body-header h2{
    font-size: 25px;
  }
.custome_main_container h3 .fa{
color: #00aeef;
}
#sidebar.active .sidebar-header img{
width: 100%;
}
nav.navbar button.menu-btn:focus{
    outline: 0px dotted;
}






/* manisankar css */

select.form-control:not([size]):not([multiple]){
margin: 0px 5px;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333333 !important;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid white;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}



.save-btn .btn-success{
    width: 15%;
    font-size: 14px;

}

@media only screen and (min-width: 768px){
 #sidebar.active .list-group.panel a span{
   display:none;
 }
 #sidebar.active .list-group.panel a i.fa-angle-right {
   float: right;
   position: absolute;
   right: 10px;
   font-size: 20px
}
#sidebar.active .list-group.panel a i{
 font-size: 20px;
}
#sidebar.active .list-group-item:hover .hidden-sm-down{
   display: block;
   visibility: hidden;
opacity: 0;
position: absolute;
top: 0;
right: -240px;
width: 240px;
font-weight: 600;
color: #fff;
text-transform: uppercase;
text-align: left;
background-color: #3E3C44;
border-color: #34323B;
padding: 11px 20px;
 }
}

@media only screen and (max-width: 768px){
.tariff-details table thead tr th{
    color: #ffffff;
    font-size: 9px !important;
}
.tariff-details table tbody tr td{
  font-size:12px !important;
}
.tariff-details .table{
  margin-bottom: 0px;
}
}

.tariff-details .table-one{
  width: 100%;
  overflow:auto;
}
.tariff-details table thead tr th{
    font-size: 14px;
    border-left: 1px solid #edeff0;
}
.tariff-details table tbody tr td{
  font-size:14px;
  border-left: 1px solid #edeff0;
}
.tariff-details table tbody {
  height: 100px;
  max-height: 100px;
  overflow-y: auto;
}


/*rides index*/
.ride-index .elipsi{ 
white-space: nowrap;
width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}
  
/*data table width fixes */

table.dataTable thead th, table.dataTable thead td {
  width: 10%;
}

.ridelog-index  .elipsi{
  white-space: nowrap;
width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}
.users-all .elipsi{
   white-space: nowrap;
width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}
.users-all .elipsi.email{
   white-space: nowrap;
width: 150px;
overflow: hidden;
text-overflow: ellipsis;
}

.driver-log .elipsi{
white-space: nowrap;
width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}
#vehicle_index .elipsi{
   white-space: nowrap;
width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}

#customer_index .elipsi.email{
   white-space: nowrap;
width: 150px;
overflow: hidden;
text-overflow: ellipsis;
}
#customer_index .elipsi{
white-space: nowrap;
width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}
.Booking-status .driver-name{
  font-size: 12px;
  white-space: nowrap;
width: 100px;
overflow: hidden;
text-overflow: ellipsis;
}

.Booking-status .fa-square.inpro{
 color:#0a7711;
}
.Booking-status .fa-square.yst{
  color:#bcb111;
}

table .new .fa-square {
color:#f57207;
}

table .current .fa-square {
color:red;
}

table .advance .fa-square {
color:blue;
}


table .yts .fa-square {
color:#bcb111;
}
table .inpro .fa-square {
color:#0a7711;
}
table .cmplted .fa-square {
color:#109fee;
}
table .cancld .fa-square {
color:#951d1d;
}
.state .nav-item a{
font-size: 13px;
}
.state {
 position: absolute;
top: 24px;
left: 205px;
}
.state .new .fa-square {
color:#f57207;
}
.state .yst .fa-square {
color:#bcb111;
}
.state .inpro .fa-square {
color:#0a7711;
}
.state .cmplted .fa-square {
color:#109fee;
}
.state .cancld .fa-square {
color:#951d1d;
}

.state .current .fa-square {
color:red;
}

.state .advance .fa-square {
color:blue;
}

.avlable-status .fa-check{
  color:#28a745;
}
.avlable-status .fa-times{
  color:#9e160d;
}


 div.dataTables_scrollHeadInner{
      width: 100% !important;
}
    div.dataTables_scrollHeadInner table.dataTable{
      width: 100% !important;
}

.legend .km .fa-square{
 color:#65b653;
}
.legend .hours .fa-square{
 color:#831e0e;
}
.legend .day .fa-square{
color:#0fb2ef;
}
.card-header h3{
    font-size: 21px;
}
div.dataTables_wrapper div.dataTables_filter input{
    width: 80%;

}
.card-header{
    margin-right: 15px !important;
    overflow: hidden;
}
.dataTables_wrapper .row .col-sm-6, .dataTables_wrapper .row .col-sm-12{
    padding-right: 0px !important;
}
@media screen and (max-width: 767px) {
    .body-header span{
        padding-right: 10px;
    }
    .state {
        position: initial;
        top: 0px;
        left: 0px;
    }  
    .dataTables_info{
        float: left;
    }
    .avlable-status .ride_index_paginate .pagination{
        float:right !important;
    }
    .card-header .btn{
        font-size: 13px;
        font-weight: 600;
    }
    .card-header h3 {
        font-size: 18px;
    }
    .dataTables_filter{
    width: 100% !important;
    }
    div.dataTables_wrapper div.dataTables_filter input{
        width: 82% !important; 
    }
    div.dataTables_wrapper div.dataTables_filter{
        text-align: left !important;
    }
}
div.dataTables_wrapper div.dataTables_filter{
    text-align: right !important;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #sidebar.active{
        min-width: 80px;
        max-width: 80px;
    }
    .page.active {
        width: calc(100% - 80px) !important;
    }
  }
.vehi-area{
  white-space: nowrap;
width: 108px;
overflow: hidden;
text-overflow: ellipsis;
}


.tariff-details .page-logo{
 margin:0px !important;
}
.tariff-details .page-logo .logo-center{
text-align: center;
margin: auto;
width: 100%;
background-color: #00aeef
;
}
.tariff-details .page-logo .logo-center img{
height: 60px;
}
@media only screen
and (max-device-width : 768px){
 .tariff-details .page-logo .logo-center img{
height: 50px;
}
}
