body{
	font-family: 'Rubik', sans-serif;
/*	background:url("../images/background-one.jpg") repeat-x;
  background-image: url("/assets/css/background-one.jpg") repeat-x;*/
	background-color: #ffffff;
}

.form-group .form-control{
	border: none;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0px;
}
.login{
	background-color: #fff;
	width: 420px;
	margin: 90px auto;
    padding: 40px 40px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	/*0px 0px 0px 2px #d6d6d6*/
	height: 400px;
}
.logo{
	text-align: center;
    height: 40px;
    /* width: 215px; */
    margin: 7px auto;
    padding: 0px;
    margin-bottom: 20px;
}
.logo h2{
	color: #007bff;
    font-weight: 700;
}
.logo h3{
   font-size: 18px;
   font-weight: 500;
}
.head{
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color: #007bff;
	margin: 25px 0;
}
.from-inner .btn-primary{
	background-color: #fec007;
    border-color: #fec007;
    width: 100%;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.forgot-pass{
	text-align: center;
	margin-top: 25px;
	font-size: 14px;
}
.form-group {
    margin-bottom: 3rem;
}
.from-inner{
	margin: 69px 0px 40px 0px;
}
footer p{
font-size: 14px;
text-align: center;
color: #adacac;
 }
 @media only screen and (max-width: 768px){
 	.login{
 		width:100%;
 		margin: 20px auto;
 		padding: 25px 30px;
 	}

 }

 .login-page .logo img{
	height: 100%;
	}
